<!DOCTYPE html>
<html>
  <head zine-define="head">
    <title zine-define="title"> - <span zine-inline-var="$config.title"></span></title>
    <meta name="description" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@croloris">
    <meta name="twitter:image" content="https://kristoff.it/logo.png">
    <meta name="twitter:author" content="@croloris">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="Loris Cro's Personal Website">
    <meta property="og:title" content="Loris Cro's Personal Website">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://krisoff.it/logo.png">
  </head>
  <body zine-define="main"></body>
</html>
