<!DOCTYPE html>
<html>
  <head id="head">
    <title id="title"><super/> - My Blog</title>
    <meta name="description" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@croloris">
    <meta name="twitter:image" content="https://kristoff.it/logo.png">
    <meta name="twitter:author" content="@croloris">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="Loris Cro's Personal Website">
    <meta property="og:title" content="Loris Cro's Personal Website">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://kristoff.it/logo.png">
    
    <style>
      body {
        background-color: #111;
        color: #bbb;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    </style>
    
    <super/>
  </head>
  <body id="main">
    <super/>
    <footer style="margin-top: 100px;">All rights reserved</footer>
  </body>

</html>
