<super template="with-menu.html">
  <!-- comments are allowed between definitions inside a super element -->
  <head zine-block="head">
    <super>
      <title zine-block="title">
        <span zine-inline-var="$page.title"></span> - <super/>
      </title>
    </super>
  </head>
  <!-- the next block also inherits all attributes defined in the parent's nav tag -->
  <nav zine-block="menu" super>
    <super/>
    <ul>
      <li zine-for="$page.authors" zine-var="$for.it"></li>
    </ul> 
  </nav>
  <div zine-block="main" zine-var="$page.content"></div>
</super>
